<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CDN/bootstrap5.min.css">
    <link rel="icon" href="/static/img/egv_logo.png" type="image/gif">
    <script src="/static/CDN/bootstrap5.bundle.min.JS"></script>
    <script src="/static/CDN/jquery.js"></script>
    <title>Something Went Wrong</title>
</head>
<body >
    <div style="display:flex ;justify-content: center; width: 100%; margin-top: 10vw;">
    <div class="text-center">
        <img src="/static/img/error_gif1.gif" style="width: 100%;" alt="">
        <h4 class="text-center">Somthing Went Wrong :( </h4>
       
    </div>
</div>   
 

</body>
</html>