<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>Precto Prime</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="jquery-3.6.3.min.js"></script>
</head>
<body>

  <%-include('./common/header.ejs') %>

    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
          <a class="navbar-brand " href="#">Practo Prime</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
            </ul>
            <form class="d-flex" role="search">
              
              <button class="btn btn-success" type="submit"><a href="#demo" class="text-light">Get free demo</a></button>
            </form>
          </div>
        </div>
      </nav> -->

      <section>
        <div class="container-fluid">
          <div class="row precto_prime_banner">
            <div class="col-sm-12 p-3">
              <h1 class="h0 mt-5 ms-5">
                <span class="no-bold">Practo</span>
                <span>Prime <i class="fa-solid fa-circle-check"></i></span>
              </h1>
              <p class="ms-5">For Clinics & Hospitals</p>
              <p class="ms-5 mt-5">A technology product for clinics and hospitals which lets them <br/> deliver an exceptional visit experience to patients.</p>
              <button class="btn btn-success mt-5 ms-5" type="submit">Get free demo</button>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid sm">
          <div class="row">
            <div class="col-sm-4 text-center mt-3">
              <h2>9000+</h2>
              <p>Clinic/Hospitals on Prime</p>
            </div>
            <div class="col-sm-4 text-center mt-3">
              <h2>30 Cr+</h2>
              <p>Patients</p>
            </div>
            <div class="col-sm-4 text-center mt-3">
              <h2>9/10 *</h2>
              <p>Highly rated by patients</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container mt-3 text-center">
          <h2 class="text-center p-5">Here’s how Prime hospitals and clinics are delivering an exceptional visit experience:</h2>
          <div class="row">
            <div class="col-sm-2 m-3 ">
              <img src="../image/practo-prime2.png" alt="img" class="text-center img-fluid">
              <p>15 minutes wait time</p>
            </div>
            <div class="col-sm-2 m-3">
              <img src="../image/practo-prime3.png" alt="img" class="text-center img-fluid">
              <p>24x7 Instant Booking</p>
            </div>
            <div class="col-sm-2 m-3">
              <img src="../image/practo-prime4.png" alt="img" class="text-center img-fluid">
              <p>Smart Calling System</p>
            </div>
            <div class="col-sm-2 m-3">
              <img src="../image/practo-prime5.png" alt="img" class="text-center img-fluid">
              <p>Free follow-ups</p>
            </div>
            <div class="col-sm-2 m-3">
              <img src="../image/practo-prime6.png" alt="img" class="text-center img-fluid">
              <p>Assured Meeting</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid sm">
          <div class="row">
            <div class="col-md-6 ps-5 pt-5 pe-5 ">
              <img src="../image/practo-prime7.png" alt="img" class="text-center mt-3 mx-5 img-fluid">
            </div>
            <div class="col-md-6 p-5">
              <h2 class="mt-5">15 minutes wait time</h2>
              <p>Patient wait time is one of the most critical aspects of overall patient satisfaction. Data shows that a low wait time is very important to a quality patient experience. With Prime, boost the efficiency of your clinic / hospital by seamlessly managing your patients flow, and optimize patient satisfaction by giving them greater control over their time.
              </p>
              <button class="btn btn-success mt-5" type="submit">Get free demo</button>       
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
          <div class="row">
            
            <div class="col-md-6 p-5">
              <h2 class="mt-5">24x7 Instant Booking</h2>
              <p>
                Online booking is available 24 hours a day, seven days a week, even when your clinic / hospital is closed. Patients may not always schedule appointments during office hours and with the option of 24x7 Instant booking, they no longer have to! Multiple surveys show, patients prefer the convenience of self booking as the experience is consistent, and predictable every time!<br/><br/>

Additionally, by passing on this control to patients, your staff could spend less time over the phone and more time over other administrative tasks.

              </p>
              <button class="btn btn-success mt-5" type="submit">Get free demo</button>       
            </div>
            <div class="col-md-6 ps-5 pt-5 pe-5">
              <img src="../image/practo-prime8.png" alt="img" class="text-center mt-3 mx-5 img-fluid">
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid sm">
          <div class="row">
            <div class="col-md-6 ps-5 pt-5 pe-5">
              <img src="../image/practo-prime9.png" alt="img" class="text-center mt-3 mx-5 img-fluid">
            </div>
            <div class="col-md-6 p-5">
              <h2 class="mt-5">Smart Calling System</h2>
              <p>Get a superior voice calling experience with Prime’s virtual number technology. Practo’s advanced technology allows all calls to your clinic / hospitals to get auto-connected in case of disconnections or failures. If one telecom service provider is experiencing a high call fail rates, Practo technology allows for automatic operator switching, ensuring patient experience is never compromised!<br/><br/>
                Additionally, all Prime clinics / hospitals also get a secure and private dashboard that stores all call recordings safely for future access.This can only be accessed by the respective clinic/hospital and not Practo.

              </p>
              <button class="btn btn-success mt-5" type="submit">Get free demo</button>       
            </div>
          </div>
        </div> 
      </section>
      <section>
        <div class="container-fluid">
          <div class="row">
            
            <div class="col-md-6 p-5">
              <h2 class="mt-5">Continuity of care via free follow up consults.</h2>
              <p>
                Patients love it when you check in on them after their visit to the clinic. With the free online follow up feature, your clinic can make sure patient care continues, even after the consultation ends. This is available in all three options: chat, phone call and video call.<br/><br/>
                Online consults are intended to improve access to care by providing at-home service, efficiently minimising travel and wait time for patients.
              </p>
              <button class="btn btn-success mt-5" type="submit">Get free demo</button>       
            </div>
            <div class="col-md-6 ps-5 pt-5 pe-5">
              <img src="../image/practo-prime10.png" alt="img" class="text-center mt-3 mx-5 img-fluid">
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid sm">
          <div class="row">
            <div class="col-md-6 ps-5 pt-5 pe-5">
              <img src="../image/practo-prime11.png" alt="img" class="text-center mt-3 mx-5 img-fluid">
            </div>
            <div class="col-md-6 p-5">
              <h2 class="mt-5">Assured Meeting with the doctor booked</h2>
              <p>Consultation with anyone but the doctor of their choice could spoil the patient experience significantly. Prime assures that the quality of care is not compromised, and it is only provided by the opted physician and no one else.<br/><br/>
                Trust forms the cornerstone of a productive doctor-patient relationship, and this feature helps build and strengthen it effectively.

              </p>
              <button class="btn btn-success mt-5" type="submit">Get free demo</button>       
            </div>
          </div>
        </div> 
      </section>

      <section class="">
        <div class="container bg-light">
          <h2 class="highlight text-center mt-3">Your data has only one owner. You.</h2>
            <div class="row">
                <div class="col-md-6 p-5">
                  <p>Only you have control over your data. Neither Practo employees nor any third-party can access your information for any purpose except as authorized by you. This includes all data safely stored in your private dashboard.</p>
                    
                    <div class="c-list-item ">
                        <div>
                            <i class="fa-solid fa-check c-list-item__icon text-primary text-center"></i>
                            <span>	We do not have access to read or view your practice data</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-check c-list-item__icon text-primary"></i>
                            <span>We never send marketing promotions to your walk-in patients</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-check c-list-item__icon text-primary"></i>
                            <span>	Data is never shared with a third party</span>
                        </div>
                        <div>
                          <i class="fa-solid fa-check c-list-item__icon text-primary"></i>
                          <span>Doctors can decide what communication sent to their patients</span>
                      </div>
                      <div>
                        <i class="fa-solid fa-check c-list-item__icon text-primary"></i>
                        <span>Practices cannot see each other’s data</span>
                    </div>
                    <div>
                      <i class="fa-solid fa-check c-list-item__icon text-primary"></i>
                      <span>We follow stringent data policies so that it’s not compromised at any step</span>
                  </div>
                        <a href="#" class="btn btn-success mt-3">Learn More</a>
                    </div>

                </div>
                <div class="col-md-6 p-5 text-center">
                    <img src="../image/finddoctor1.png" class="img-fluid" alt="image" width="250px">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                    <img src="../image/finddoctor2.png" alt="image">
                    <div class="mt-3">
                        <p class="mb-0">256-bit</p>
                        <p>encryption</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <img src="../image/finddoctor3.png" alt="image">
                    <div class="mt-3">
                        <p class="mb-0">ISO 27001</p>
                        <p>certified</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <img src="../image/finddoctor4.png" alt="image">
                    <div class="mt-3">
                        <span>HIPAA compliant data centers</span>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <section>
      <div class="container-fluid fam mt-2" id="demo">
        <div class="row ">
          <h2 class="mt-2 text-center text-light">Join 5000+ clinics & hospitals already on Prime</h2>
          <form action="/join_hospitals" method="post">
          <div class="col-sm-7 p-2 m-sm-auto m-auto">
           
            <div class="form  ">
            <h5 class="mt-2 text-light">Choose Category*</h5>
            <select class="form-select" aria-label="Default select example" name="category">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <h5 class="mt-2 text-light">Mobile number*</h5>
            <input type="text" name="number" placeholder="Enter Your Mobile Number" class="form-select" aria-label="Default select example">
          
         
            <!-- <div class="form"> -->
            <h5 class=" text-light">Name*</h5>
            <input type="text" name="name" placeholder="Enter Your Name" class="form-select" aria-label="Default select example">
            <h5 class="mt-2 text-light">City*</h5>
            <select class="form-select" aria-label="Default select example" name="city">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            
          </div>
        </div>
        
          <div class="row p-3">  
          <div class="col-sm-2 m-auto m-sm-auto">
          <!-- <a href="#" class="btn btn-success">Get Free Demo</a> -->
          <input type="submit" value="Get Free Demo" class="btn btn-success">
        </div>
      </div>
    </form>
          <p class="text-center"> These details will be used solely for contact purposes.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">

            <h1 class="m-3">FAQs</h1>

    <div class="accordion w-100" id="basicAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#basic1" aria-expanded="false" aria-controls="collapseOne">
              How does Practo Prime work?
            </button>
          </h2>
          <div id="basic1" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#basicAccordion" >
            <div class="accordion-body">
              Practo Prime is a technology product designed for clinics and hospitals which lets them deliver an exceptional visit experience to patients. It enables the clinics to provide assured benefits to patients like 15 min wait time, 24*7 instant booking, advanced calling system and assured meeting with the doctor of their choice, amongst other benefits
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#basic2" aria-expanded="false" aria-controls="collapseTwo">
              What does technology fee mean?
            </button>
          </h2>
          <div id="basic2" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#basicAccordion" >
            <div class="accordion-body">
              Practo charges the clinic or hospital a one time technology fee the first time a patient uses our technology to connect with them. This is valid for the unique connection period, on a rolling basis. Within this period, unlimited repeat appointments are allowed and are not charged for.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#basic3" aria-expanded="false" aria-controls="collapseThree">
              What does Practo Prime cost? Are you charging me for patients?
            </button>
          </h2>
          <div id="basic3" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#basicAccordion" >
            <div class="accordion-body">
              Absolutely not. We charge the clinic/hospital a one time technology fee the first time a patient uses our technology to connect with the clinic/hospital. This one-time fee is valid for the unique connection period, on a rolling basis. Within this period, unlimited repeat appointments are allowed and are not charged for.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#basic4" aria-expanded="false" aria-controls="collapseThree">
                With Practo Prime, are you indirectly promising transactions/appointments?
              </button>
            </h2>
            <div id="basic4" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#basicAccordion" >
              <div class="accordion-body">
                Absolutely not. Practo Prime in no way guarantees any appointments or patients to establishments.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#basic5" aria-expanded="false" aria-controls="collapseThree">
                Will Practo Prime help me get more patients?
              </button>
            </h2>
            <div id="basic5" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#basicAccordion">
              <div class="accordion-body">
                Absolutely not. Prime is a technology product that helps clinics and hospitals provide accurate and reliable information to patients looking for a healthcare provider. The choice of the healthcare provider and whether or not to book an appointment is completely up to the patient.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#basic6" aria-expanded="false" aria-controls="collapseThree">
                How much time do I need to invest to get started?
              </button>
            </h2>
            <div id="basic6" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#basicAccordion" >
              <div class="accordion-body">
                Subscribing to Practo Prime is simple. Clinics and Hospitals can request a free demo as per their convenience. A representative from Practo will reach out to you within 2 working days for a Practo Prime demo. They will also guide you through the setup process.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#basic7" aria-expanded="false" aria-controls="collapseThree">
                Ray and Qikwell Lite were independent software. Why have they been clubbed with Practo Prime?
              </button>
            </h2>
            <div id="basic7" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#basicAccordion" >
              <div class="accordion-body">
                Ray and Qikwell Lite are still available as independent softwares. They are also available as part of Prime in a package deal that helps provide an exceptional visit experience to the patients while increasing the clinic/hospitals’ efficiency.
              </div>
            </div>
          </div>
      </div>

          </div>
        </div>
      </div>
    </section>
    
    <%-include('./common/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</body>
</html>