<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hardy Play Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style1.css">
    <style>
        li{
            color: white;
            font-weight: 500;
            padding-top: 8px;
        }

        .ul ul li{
            list-style-type: circle;
            color: red;
            cursor: pointer;

        }

        

        
    </style>

  </head>
  <body class="ser1">
    <%-include('./common/header.ejs') %>


    <div class="container-fluid mt-5">
        <div class="row justify-content-evenly mt-5">
          <div class="col-md-6 mt-5">
            <img src="../image/img.png" class="img-fluid" />
  
          </div>
          <div class="col-md-5 mt-5">
            <p class="p1 mt-5"><span class="sp2">S</span>ervices</p>
  
            <p class="p2">Every child has access to thousands of instructive, simple to complicated online games through the HARDYPLAYSTORE gaming platform, allowing them to play and have fun with friends and family. 
              You get access to free game play through HardyPlayStore.
              </p>
  
            <!-- <button type="button" class="btn btn-outline-info">Shop Know</button> -->
  
          </div>
        </div>
      </div>
  
      <div class="container-fluid">
        <div class="row justify-content-center">
          <p class="p3 mt-5">Our Services</p>
          <div class="col-md-11 mb-4 px-4" style="border: 1px solid orange;">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="py-4" style="text-align: center; color: white; font-size: 28px; font-weight: 700;">New Games</h5>
                    <p class="py-2" style="text-align: center; font-size: 18px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><span style="font-size: 22px; color: orange;">O</span>ver a dozen new games are released each week by HardyPlayStore. We display video games produced by thousands of independent programmers. Customers may play as much as they want, anytime and wherever they want, on any internet-connected device.</p>
                </div>
               
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5 class="py-2" style="text-align: center; color: white; font-size: 28px; font-weight: 700;">INNOVATE</h5>
                    <p class="py-2" style="text-align: center; font-size: 18px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><span style="font-size: 22px; color: orange;">I</span>nnovation is the cornerstone of HardyPlayStore. The idea was straightforward: discover amazing games on our website! We make an effort to put energy, uniqueness, and creativity into all we do. We seek out novel game concepts and back cutting-edge gaming ideas. displaying the daring and curiosity required to be a leader in the casual gaming sector.</p>
                </div>
               
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5 class="py-2" style="text-align: center; color: white; font-size: 28px; font-weight: 700;">PULL AHEAD</h5>
                    <p class="py-2" style="text-align: center; font-size: 18px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><span style="font-size: 22px; color: orange;">H</span>ardyPlayStore was a pioneer in the field of online gaming. We take great satisfaction in defending games and creators who contribute to the innovation of online gaming.</p>
                </div>
               
            </div>

            <div class="row">
                <div class="col-md-12 ul">
                    <h5 class="py-2" style="text-align: center; color: white; font-size: 28px; font-weight: 700;">Services</h5>
                    <div class="row justify-content-evenly">
                        <div class="col-md-3 border border-light mb-4 " >
                            <ul>
                                <li>Card & Board Games</li>
                                <li>Action Games</li>
                                <li>Racing Games</li>
                            </ul>
                        </div>
                        <div class="col-md-3 border border-light mb-4">
                            <ul>
                                <li>Sports Games</li>
                                <li>Hidden Object Games</li>
                                <li>Puzzle Games</li>
                                <li>Puzzle Games</li>
                            </ul>
                        </div>
                        <div class="col-md-3 border border-light mb-4">
                            <ul>
                                <li>Kids Games</li>
                                <li>Adventure Games</li>
                                <li>3D Games</li>
                            </ul>
                        </div>

                        
                    </div>
                </div>

               
            </div>
           
          </div>
        </div>
      </div>
  
    <%- include('./common/footer') %>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>