<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer demo</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <style>
         .footer{
            /* min-width: 1200px; */
           background-color: #304146;
         padding: 48px 0;
            color: #fff;
            font-size: 14px;
            text-align: left;
        }
        .footer h6{
            font-weight: 700;
            color: red;
        }
        a{
            text-decoration: none;
        }
        .footer p{
            font-size: 12px;
            transition: color 0.2s ease-in-out;
        }
        .footer p:hover{
            text-decoration: underline;
            cursor: pointer;
            color: rgb(181, 232, 249);
        }

        @media only screen and (max-width: 991px) {
    .footer{
      text-align: center;
    }

   
  }
  ul{
    margin-left: 18%;
  }

  
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row footer">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6><i class="fa-solid fa-hands-holding-child"></i> Care</h6>
                <p>About</p>
                <p>Blog</p>
                <p>Carrer</p>
                <p>Press</p>
                <p>ContactUs</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6><i class="fa-solid fa-hospital-user"></i> For Patients</h6>
                <p>Search for Doctors</p>
                <p>Search for Clinics</p>
                <p>Search for Hospitals</p>
                <p>Book Diagnotics Test</p>
                <p>Book Full Body Checkups</p>
                <p>Practo Plus</p>
                <p>ContactUs</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6><i class="fa-solid fa-heart-circle-plus"></i> For Doctors</h6>
                <p>Practo Profile</p>
                <p>For Clinics</p>
                <p>Ray by Practo</p>
                <p>Practo Reach</p>
                <p>Ray Tab</p>
                <p>Practo Pro</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6> <i class="fa-regular fa-hospital"></i> For Hospitals</h6>
                <p>Insta by Practo</p>
                <p>Qikwell by Practo</p>
                <p>Practo Profile</p>
                <p>Practo Reach</p>
                <p>Practo Drive</p><br>
                <h6><i class="fa-brands fa-page4"></i> Corporates</h6>
                <p>Wellness Plans</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6> <i class="fa-solid fa-circle-info"></i> More</h6>
                <p>Help</p>
                <p>Developers</p>
                <p>Privacy Policy</p>
                <p>Terms & Conditions
                <p>PCS T&C</p>
                <p>Healthcare Directory</p>
                <p>Practo Health Wiki</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6><i class="fa-solid fa-users"></i> Social</h6>
                <p><i class="fa-brands fa-facebook"></i> FaceBook</p>
                <p><i class="fa-brands fa-twitter"></i> Twitter</p>
                <p><i class="fa-brands fa-linkedin"></i> LinkedIn</p>
                <p><i class="fa-brands fa-youtube"></i> Youtube</p>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-3.6.3.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>